apiVersion: apps/v1
kind: Deployment
metadata:
  name: sqlserver
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sqlserver
  template:
    metadata:
      labels:
        app: sqlserver
    spec:
      securityContext:
        fsGroup: 10001  
      containers:
        - name: sqlserver
          image: mcr.microsoft.com/mssql/server:2022-latest
          ports:
            - containerPort: 1433
          securityContext:
            runAsUser: 0  
            privileged: true
            allowPrivilegeEscalation: true
          env:
            - name: ACCEPT_EULA
              value: "Y"
            - name: SA_PASSWORD
              value: "YourPassword123"
            - name: MSSQL_TCP_PORT
              value: "1433"  #   专 砖-DB  注 驻专 
          volumeMounts:
            - name: sqlserver-storage
              mountPath: /var/opt/mssql
              subPath: "mssql"  #   爪专 砖 转拽转 砖  砖  注 -Volume
      volumes:
        - name: sqlserver-storage
          persistentVolumeClaim:
            claimName: sqlserver-pvc
